<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Debug Page</title>
</head>
<body>
<h1>Debug Page</h1>
<p th:text="${message}">Default message if Thymeleaf is not working</p>

<h2>System Info:</h2>
<ul>
    <li>Java version: <span th:text="${#strings.replace(#execInfo.getJavaVersion(), 'Java', '')}">Unknown</span></li>
    <li>Thymeleaf version: <span th:text="${#strings.replace(#execInfo.getThymeleafVersion(), 'Thymeleaf', '')}">Unknown</span></li>
    <li>Spring version: 5.x</li>
</ul>

<p>If you can see this page with the correct message above, your view resolver is working properly.</p>
</body>
</html>